{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>Авторизация</title>
</head>
<body>
    <header>
        <div class="Header">
            <div class="top-menu">
                <div class="header-logo">
                TODOLIST
                </div>
                <div class="headerButton"><a href="/">Задачи</a></div>
                <div class="headerButton"><a href="/addtask">Создать задачу</a></div>
                {% if request.user.is_staff %}
                <div class="headerButton"><a href="/admin">Админ-Панель</a></div>
                {% else %}
                {% endif %}
            </div>
                <div class="user-menu">
                    {% if user.is_authenticated %}
                    <div>{{user.username}}</div>
                    <div class="headerButton"><a href="/logout">Выйти</a></div>
                    {% else %}
                    <div class="headerButton"><a href="/register">Регистрация</a></div>
                    <div class="headerButton"><a href="/login">Войти</a></div>
                    {% endif %}
            </div>
        </div>
    </header>


    <form method="post">
        {% csrf_token %}
    <div class="login-form">
        <h2>Войти в аккаунт</h2>
    <div class="box">
        <label for="username">Имя пользователя:</label>
        {{form.username}}
        <!-- <input type="text" name="username" required pattern="[а-яА-Яa-zA-Z]+" title="Имя может содержать только буквы"> -->
    </div>

    <div class="box">
        <label for="password">Пароль:</label>
        {{form.password}}
        <!-- <input type="password" name="password" id="password" required minlength="8" maxlength="128"> -->
    </div>

    <input type="checkbox" id="showpass">
    <label for="showpass">Показать пароль</label>
    {{form.non_field_errors}}
    <button type="submit" class="color-change">Войти</button>
    <div class="register-link">
        <p>У вас нет аккаунта? <a href="/register">Зарегистрируйте</a></p>
    </div>
</div>
</form>
<script src="{% static 'js/login.js' %}"></script>

</body>
</html>