form {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    margin-top: 60px;
}
.register-form {
       background-color: #fff;
       padding: 25px;
       border-radius: 40px;
       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
       max-width: 350px;
       width: 100%;
}
.register-form h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}
.register-form .box {
    position: relative;
}
.register-form .box input {
    width: 100%;
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.register-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #00B4DB;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

input[type=checkbox] + label {
    display: inline-block;
    margin-bottom: 10px;
}
.color-change:hover {
    background-color: #005AA7;
}
.register-link {
margin-top: 10px;
text-align: center;
}
.register-link p {
font-size: 14px;
}
.register-link a {
text-decoration: none;
color: #007bff;
}
.register-link a:hover {
text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    .Header {
        flex-direction: column; 
    }
    .top-menu, .user-menu {
        justify-content: center;
        flex-wrap: wrap;
    }
    .header-logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .headerButton {
        width: 100%;
        padding: 10px;
        text-align: center;
        margin: 5px 0; 
    }
    form {
        height: auto; 
        padding: 20px;
        margin-top: 60px;
    }
}
.box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(10%);
    font-size: 15px;
}